@import url('./main-layout.css');

h3 {
    margin: 5px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: #b2c1ca 1px solid;
}

a {
    font-size: 18px;
}

.custom-card, .custom-block {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    transition: all 0.3s ease;
    margin: 5px auto 0;
    overflow: hidden;
    position: relative;
}

.custom-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15),
    0 4px 8px rgba(0, 0, 0, 0.1);
}

.ad-sold {
    border: 1px solid red;
    background-color: #f8d7da;
    color: red;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    vertical-align: center;
    align-items: center;
    border-radius: 5px;
}

.ad-for-sale {
    border: 1px solid green;
    background-color: #d4edda;
    color: green;
    padding: 5px;
    font-size: 12px;
    vertical-align: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}